body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  height: 100vh;
}

h1 {
    font-family: monospace;
}

.main-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.two-columns > section {
  flex: 1 1 40%;
  padding-right: 40px;
  box-sizing: border-box;
}

.two-columns > aside {
  flex: 1 1 60%;
}

h1.name {
  font-family: Menlo, monospace;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 8px;
}

.description {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.4;
}

.example {
  display: flex;
  max-height: 400px;
  max-width: 480px;
  box-shadow: 0 6px 8px 0 rgba(164, 164, 164, 0.21);
  flex-direction: column;
}

.example .code {
  display: block;
  background-color: #222831;
  padding:20px;
  color: #fafafa;
  max-height: 200px;
  font-size: 15px;
  overflow: scroll;
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: relative;
  max-width: 100%;
  flex-grow: 1;
}

.example .preview {
  background-color: #fff;
  max-height: 200px;
  overflow: scroll;
  max-width: 100%;
  position: relative;
  flex-grow: 1;
  padding: 10px;
  font-size: 15px;
}

.example .preview img {
  max-width: 100%;
}

.info-link {
  color: #333;
  font-size: 14px;
}

.property-description {
  display: none;
}

.main-container.css-property .property-description {
  display: block;
}

.main-container.css-property .example .code {
  display: none;
}

.main-container.css-property .example .preview {
  flex-grow: 1;
  max-height: inherit;
}

.main-container.css-property .language-tag.css {
  display: inline-block;
}

.main-container:not(.css-property) .language-tag.html {
  display: inline-block;
}

.property-description .name {
  font-family: Menlo, monospace;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffdd57;
  border-radius: 2px;
  padding: 5px 8px;
  line-height: 1.4;
  display: inline;
}

.property-description .description {
  font-size: 0.9em;
}

.language-tag {
  display: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  border-radius: 2px;
  padding: 4px 8px;
}

.language-tag.css {
  background-color: #1771b6;

}

.language-tag.html {
  background-color: #e34b28;
}

.logo {
    opacity: 0.8;
}

footer {
  margin: 30px 0 0;
  font-size: 13px;
  color: #666;
}